.heading {
    height: 75%;
    background-color: aliceblue;
    margin-top: -50px;
    background-image: url("../img/minisite.jpg");
}

.heading .col-md-4 {
    margin-top: 10%;
    background-color: rgb(53, 53, 53);
    height: 60vh;
    min-height: 550px;
    color: white !important;
    border-radius: 25px;
    font-size: 1.9em;
    -webkit-box-shadow: 0px 17px 25px 2px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 17px 25px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 17px 25px 2px rgba(0, 0, 0, 0.26);
}

.heading img {
    margin: -40px auto 0 auto;
}

.heading p {
    margin: 1vh 0;
}

.heading i {
    margin: 0 5%;
}

.top-margin {
    margin-top: 30vh;
}

#scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

@media screen and (max-width: 480px) {
    .heading {
        height: 70vh;
    }
    .heading h1{
        margin: -10px 0;
    }
    .heading .col-md-4 {
        overflow-x: hidden;
        padding: 0;
        margin-top: 0;
        background-color: rgb(53, 53, 53);
        height: 80vh;
        color: white !important;
        border-radius: 0;
        font-size: 1.5em;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
    }
    .heading img {
        margin: auto;
        padding: 5%;
    }
    .top-margin {
        margin-top: 50%;
    }
    .heading i {
        margin: 0 5%;
    }
    #scroll{
        bottom: 20px;
    }
}