
.tes-hover:hover > [class= "detail-display"]{
    /* visibility: visible; */
    display: inline;
}

.tes-hover:hover{
    transform: scale(1);
    transform-origin: 50% 100px;
    margin-bottom: -60%;
}

.tes-hover{
    background-color: white;
}

.detail-display{
    display: none;
}

.my-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5vh;
}

.my-container > div{
    border: 1px solid lightgray;
    padding: 10px;
}



@media screen and (max-width: 480px) {
    .my-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 70px 10px;
    }
}