.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.panel-body
{
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
/*=========Membuat  scroll mulai dari bawah===============*/
  height: 300px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


/* _____________________________________________________ */
/* .img-circle {
    width: 30px;
    height: 30px;
} */

.detail img {
    width: 8vw;
    height: 7vw;
    float: left;
    padding: 5px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
}

/*
.block {
    display: inline-block;
    margin-bottom: 5vh;
}

pre {
    background-color: white;
    border: none;
    /* font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif; */
/* } */
/*
.chat {
    border: 1px solid rgb(243, 243, 243);
    padding-bottom: 10px;
}

.chat-room {
    margin-top: 10px;
    overflow-y: scroll;
    padding: 5px;
}

.chat h2 {
    padding: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.buyer {
    float: left;
    margin: 10px 0;
}

.buyer img{
    display: inline;
}

.left {
    background-color: lightgrey;
    margin-right: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 0px 46px 46px 46px;
    -moz-border-radius: 0px 46px 46px 46px;
    -webkit-border-radius: 0px 46px 46px 46px;
    border: 0px none #000000;
}

.seller {
    float: right;
    margin: 10px 0;
}

.seller img{
    float :right;
    margin-left: 5px;
}

.seller p{
    margin-top: 30px;
}

.right {
    background-color: rgb(255, 156, 109);
    margin-left: 40px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 46px 0px 46px 46px;
    -moz-border-radius: 46px 0px 46px 46px;
    -webkit-border-radius: 46px 0px 46px 46px;
    border: 0px none #000000;
}

.message{
    margin-top: 10px;
} */

/* container properties */
/*
.scrollbar {
    width: 100%;
    max-width: 100%;
    height: 400px;
    background-color: #ffffff;
    overflow-y: scroll;
} */


/* customize scrollbar css */
/*
#scrollbar-custom::-webkit-scrollbar {
    width: 12px;
    background-color: #e9e9e9;
}

#scrollbar-custom::-webkit-scrollbar:horizontal {
    height: 12px;
}

#scrollbar-custom::-webkit-scrollbar-track {
    border: 1px #ffffff solid;
    border-radius: 0px; */
    /* -webkit-box-shadow:0 0 6px #c8c8c8 inset; */
/* } */
/*
#scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #ff4d00;
    border: none;
    border-radius: 0px;
}

#scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #bf4649;
    border: none;
}

#scrollbar-custom::-webkit-scrollbar-thumb:active {
    background-color: #ff4d00;
    border: none;
}

@media screen and (max-width: 480px) {
    .detail img {
        position: relative;
        display: inline-block;
        margin: 8px 8px;
        width: 30vw;
        height: 19vh;
        float: none;
    }
    .cover-container {
        height: 180px;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    } */
}
